
<body>
  <div class="container">
      <nav>
          <div class="nav-wrapper teal lighten-2">
              <a href="#" class="brand-logo">Star Trek shop</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li class="snipcart-summary">
                      <a href="#" class="snipcart-checkout">
                          View cart (<span class="snipcart-total-items">0</span>)
                      </a>
                  </li>
              </ul>
          </div>
      </nav>
  </div>
</body>
<!-- Netlify CMS identification 
      See https://github.com/netlify/netlify-identity-widget#usage   -->

<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js">
</script>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      
<script type="text/javascript">
  window.onload = function() {
    netlifyIdentity.setLocale('fr')
  }
</script> 
